nav{
    background: #1b1b1b;
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover{ /*Estilizar os links*/
    box-shadow: 0 0 5px #3ff,
                 0 0 5px #3ff;
    color: cyan;
}
nav ul ul li a:hover{
    color: cyan;
    box-shadow: none;
}
nav ul ul{
    position: absolute;
    top: 90px;
    border-top:  3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s ease;
}
nav ul ul ul{
    border-top: none;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    text-align: center;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}  
nav ul ul li a{
    line-height: 50px;
}

.show, input,.icon{
    display: none;
}

@media all and (max-width:968px){
    header{
        position: inherit;
    }
    nav ul{
        margin: 0;
        float: left;
    }
    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }
    nav ul ul{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul ul li{
        position: static;
    }
    nav ul ul li{
        border-bottom: 0px;
    }
    nav ul ul a{
        padding-left: 40px;
    }
    .show{
        display:block ;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover{
        color: cyan;
    }
    .icon{
        display: block;
        color: black;
        position: absolute;
        right: 5%;
        top: 5%;
        line-height: 40px;
        font-size:40px ;
        cursor: pointer;
    }
    nav ul li a:hover{
        box-shadow: none;
    }
    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked +ul{
        display: block;
    }
    main ul{
        display: block;
    }
    main,footer{
        width: 100%;
    }
    .conteiner{
        display: flex;
        justify-content: center;
        flex-direction:column ;
    }
}
@media(max-width:400px){
    body{
        background: white;
    }
    header{
        position: inherit;
    }
    nav ul ul li{
        border-bottom: 1px solid cyan;
    }
    main{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .icon{
        position: absolute;
        left: 5%;
        top: 5%;
    }
    main h2{
        text-align: center;
    }
    main ol{
        margin: 0;
        padding-left: 2rem;
    }
    main p{
        font-size: 1rem;
        padding-right: 1rem;
    }
    main ul{
        display: block;
    }
    .box{
        width: 100%;
    }
    .conteiner{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .conteiner iframe{
        width: 100%;
    }
    footer{
        width: 100%;
        
    }
}