@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --font-principal:'Quicksand', sans-serif;
    --font-secundaria:'Roboto', sans-serif;
}
/*header*/
header{
    background: #0145FE;
    color: white;
    padding: top 10px; ;
    position: sticky;
    top: 0;
    margin-bottom: 5rem;
}
header picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
header picture img{
    width: 10rem;
}
header h1{
    text-align: center;
    font-family: var(--font-principal);
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.5rem;
}
header nav{
    display: flex;
    justify-content: center;
}
nav{
    font-family: var(--font-principal);
}
/*main*/
main{
    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 10px;
}
main h2{
    text-transform: uppercase;
    font-family: var(--font-principal);
    padding: 0.8rem 0 0.8rem 1rem;
}
main ol{
    font-family: var(--font-principal);
    font-size: 1.1rem;
    padding-left: 3rem;
    font-weight: bold;
}
main ol ul{
    padding-left: 2rem;
    font-family: var(--font-secundaria);
    line-height: 1.5rem;
}
main p{
    padding: 5px 0 5px 1rem;
    font-family: var(--font-secundaria);
    font-weight: bold;
    font-size: 1.1rem;
    text-align: justify;
}

.aviso, .dica{
    background: #0080FF;
    padding: 10px 0 ;
    color: white;
}
.aviso h3, .dica h3{
    font-family: var(--font-principal);
    text-transform: uppercase;
    padding-left: 1.5rem;
}
.dica{
    margin-top: 2rem;
}

.dica ul{
    font-family: var(--font-secundaria);
    padding-left: 3rem;
    font-size: 1.1rem;
}
.aviso p, .dica p{
    padding: 0 2rem 0 2rem;    
    text-align: justify;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

/*footer*/
footer{
    width: 80%;
    height: 50px;
    background: white;
    font-family: var(--font-principal);
    margin: 0 auto;
    padding: 1rem;
    text-align: center;

    display: flex;
    justify-content: center;
}
footer a{
    margin: 0 0.5rem 0 0.5rem;
}
footer a i{
    color: darkturquoise;
    font-size: 1.5rem;
}
